<%= form_for :post, url: posts_path do |p| %>
<% if @post.errors.any? %>
<div class="error-explanation">
<h3><%= pluralize(@post.errors.count, "error")  %> has pervented this post from been saved.</h3>
<ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %>

    <p>
        <%= p.label :title %> <br/>
        <%= p.text_field(:title, :size => "70") %>
    </p>

    <p>
       <%= p.label :content %> <br/>
       <%= p.text_area(:content, :size => "90x12") %>



        <div class="md-syntax clearfix">
        <h5>Markdown syntax</h5><br/>
        <ul class="four columns">
            <li> <code>*single asterisks* </code><em>italic</em></li>
            <li> **double asterisks** <strong>bold</strong></li>
            <li> #This is an H1 </li>
            <li>## This is an H2</li>
            <li>###### This is an H6 </li>


        </ul>
        <ul class="four columns">
        <li>[link](http://rishighan.com "Rishi Ghan's website")</li>
        <li>[relative link](../rest/my/chemistry)</li>
        <li></li>

        </ul>
        </div>

 </p>

    <p>
        <%= p.label :excerpt %><br/>
        <%= p.text_area(:excerpt, :size => "90x8") %>
    </p>

    <p>
        <%= p.label :citations %><br/>
        <%= p.text_area(:citations, :size => "90x6") %>
    </p>

    <p>
        <%= p.submit %>
    </p>


<% end %>
