<%= form_for :post, url: posts_path, :html => {:multipart => true } do |p| %>

<% if @post.errors.any? %>
<div class="error-explanation">
<h3><%= pluralize(@post.errors.count, "error")  %> has prevented this post from been saved.</h3>
<ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %>

    <p>
        <%= p.label :title %> <br/>
        <%= p.text_field(:title, :size => "70") %>
    </p>

    <p class="well">
   <%= p.label :category %><br/>
    <%= hidden_field_tag "post[category_ids][]", nil%>

        <% Category.order(:title).each do |cat| %>
            <label>
            <%= check_box_tag("post[category_ids][]", cat.id, cat.id.in?(@post.categories.collect(&:id))) %>
            <%= cat.title %>
            </label>
        <% end %>
    </p>

    <p>
       <%= p.label :content %> <br/>
       <%= p.text_area(:content, :size => "90x12") %>

       <p class="well">

        <%= p.fields_for :attachments do |at| %>
            <%= at.label :picture %>
            <%= at.file_field :picture %>
        <% end %>

       </p>

        <%= render "shared/markdownhelp" %>

 </p>

    <p>
        <%= p.label :excerpt %><br/>
        <%= p.text_area(:excerpt, :size => "90x8") %>
    </p>


    <p>
        <%= p.submit %>
    </p>

<% end %>

