<h2>Edit Post</h2>

<%= form_for :post, url: post_path(@post), method: :patch do |p| %>
<% if @post.errors.any? %>
<div class="error-explanation">
<h3><%= pluralize(@post.errors.count, "error")  %> prevented this post from been saved.</h3>
<ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %>

<p>
        <%= p.label :title %> <br/>
        <%= p.text_field(:title, :size => "70") %>
    </p>

    <p>
       <%= p.label :content %> <br/>
       <%= p.text_area(:content, :size => "90x12") %>



        <div class="md-syntax clearfix">
        <h5>Markdown syntax</h5><br/>
        <ul class="four columns">
            <li> <code>*single asterisks*</code> <em>italic</em></li>
            <li> <code>**double asterisks**</code> <strong>bold</strong></li>
            <li> <code>#This is an H1</code> </li>
            <li><code>## This is an H2</code></li>
            <li><code>###### This is an H6 </code></li>


        </ul>
        <ul class="four columns">
        <li><code>[link](http://rishighan.com "Rishi Ghan's website")</code></li>
        <li><code>[relative link](../rest/my/chemistry)</code></li>
        <li><code>[link](http://rishighan.com "Rishi Ghan's website")</code></li>
        <li><code>[relative link](../rest/my/chemistry)</code></li>

        </ul>

        <div class="thirteen columns clearfix">
        <code>![alt text](https://images/icon48.png "Logo Title Text 1")</code>
        <p>More information: <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">Markdown help</a></p>
        </div>


        </div>

 </p>

    <p>
        <%= p.label :excerpt %><br/>
        <%= p.text_area(:excerpt, :size => "90x8") %>
    </p>


    <p>
        <%= p.submit %>
    </p>

<% end %>

<%= link_to "Back to Posts", posts_path %>
