<h2>New Post</h2>


<%= form_for :post, url: posts_path do |p| %>
<% if @post.errors.any? %>
<div class="error-explanation">
<h3><%= pluralize(@post.errors.count, "error")  %> has pervented this post from been saved.</h3>
<ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
</ul>
</div>
<% end %>

    <p>
        <%= p.label :title %> <br/>
        <%= p.text_field :title %>
    </p>

    <p>
       <%= p.label :content %> <br/>
       <%= p.text_area :content %>
    </p>

    <p>
        <%= p.label :excerpt %><br/>
        <%= p.text_area :excerpt %>
    </p>

    <p>
        <%= p.label :citations %><br/>
        <%= p.text_area :citations %>
    </p>

    <p>
        <%= p.submit %>
    </p>


<% end %>
