<%= form_for @category, :url => categories_path do |c| %>

  <p>
    <%= c.label :title %><br/>
    <%= c.text_field :title %>
  </p>

  <p>
    <%= c.label :description %>
    <%= c.text_area :description, :size=>"70x12" %>
  </p>

  <p>
    <%= c.submit "Create" %>
  </p>

<% end %>
